[defaults]
inventory = ./servers.txt
callback_plugins = ./callback_plugins
callbacks_enabled = host_logger
host_key_checking = False
deprecation_warnings = False
stdout_callback = default
retry_files_enabled = False
command_warnings = False
